.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  left: 656px;
  top: 0;
  transition: opacity 0.2s ease-in;
}

.khan__buy-link:hover {
  opacity: 65%;
}
